footer{
    display: flex;
    flex-direction:row;
    background-color: #1b1d1f;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 50px;
    padding: 10px 50px;
}

footer a img{
    margin-left: 10px;
    color: #fff;
}

@media only screen and (max-width: 480px) {

   footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
   }

   footer p{
    width: 50%;
   }

}
