.main-tittle {
	position: relative;
	width: 100%;
	height: 300px;
	top: 0;
	left: 0;
	background-image: url('../img/estudio-camara.jpg');
	background-position: center;
	background-size: cover;
}

.blue-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.5);
}

.main-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
}

.main-text h1 {
	color: white;
	font-size: 8rem;
	font-weight: bold;
}

main {
	background-color: #000000;
  	color: #FFFFFF;
  	padding: 50px;
  }
  
  .bienvenido {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .intro-text {
	font-size: 1.5em;
	margin-bottom: 30px;
  }
  
  .quote {
	text-align: center;
	margin-top: 50px;
  }
  
  .quote-text {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 10px;
  }
  
  .quote-author {
	font-size: 1.1em;
  }

.nosotros {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.nosotros .container {
	max-width: 800px;
	margin: 0 auto;
}

.nosotros h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 50px;
}


.nosotros-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.nosotros-image {
	flex-basis: 45%;
}

.nosotros-image img {
	display: block;
	width: 100%;
	height: auto;
}

.nosotros-info {
	flex-basis: 50%;
}

.nosotros-info h3 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;
}

.nosotros-info p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}